.action-bar .MuiToolbar-root {
  padding-left: 0px !important;
}

.action-bar .underlay-name {
  margin-right: 1em;
}

.datasets .MuiPaper-root {
  margin: 0em 0em 1em 0em;
}

.datasets-select-panel {
  height: 300px;
}

.new-cohort-dialog .MuiTextField-root {
  margin-bottom: 2em;
}

.loading {
  padding: 2em 4em;
}

.loading h2 {
  text-align: center;
}

.loading p {
  text-align: center;
}

.loading Button {
  margin: 0 auto;
  display: block;
}

.loading .MuiCircularProgress-root {
  margin: 0 auto;
  display: block;
}
